Source: qt4-embedded
Section: libs
Priority: optional
Maintainer: Yann Dirson <dirson@debian.org>
X-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
X-Original-Uploaders: Brian Nelson <pyro@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: cdbs, debhelper (>= 5), quilt, pkg-kde-tools (>= 0.4), flex, sharutils,
 libaudio-dev, libdbus-1-dev, libfreetype6-dev,
 libjpeg62-dev, libmng-dev,
 libpam0g-dev, libpng12-dev, libreadline-dev,
 libsqlite3-dev, libtiff4-dev,
 zlib1g-dev, libts-dev,
 libqt4-dev (<< 4:4.7.3-2)
Build-Conflicts: gcc-4.4-arm-linux-gnueabi
Standards-Version: 3.8.3
Homepage: http://www.qtsoftware.com
Vcs-Git: git://git.debian.org/pkg-kde/qt4-x11.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/qt4-x11.git;a=summary

Package: libqtecore4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqte4-core (<< 4.4.0~beta1-1), libqte4-gui (<< 4.4.0~beta1-1)
Description: Qt 4 core module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtCore module contains core non-GUI functionality.

Package: libqtegui4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libqte4-designer (<< 4.4.0~beta1-1)
Replaces: libqte4-core (<< 4.0.1-3), libqte4-gui (<< 4.4.0),
 qt4-designer (<< 4.1.4), libqte4-designer (<< 4.4.0~beta1-1)
Description: Qt 4 GUI module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtGui module extends QtCore with GUI functionality.

Package: libqte4-network
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqte4-core (<< 4.4.0~beta1-1)
Description: Qt 4 network module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtNetwork module offers classes that allow you to write TCP/IP clients and
 servers. It provides classes to make network programming easier and portable.

Package: libqte4-script
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqte4-core (<< 4.4.0~beta1-1)
Description: Qt 4 script module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtScript module provides classes for making Qt applications scriptable.

Package: libqte4-sql
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libqte4-sql-mysql | libqte4-sql-odbc | libqte4-sql-psql | libqte4-sql-sqlite | libqte4-sql-sqlite2 | libqte4-sql-ibase [i386 kfreebsd-i386 kfreebsd-amd64 amd64 sparc powerpc]
Suggests: libqte4-dev
Description: Qt 4 SQL module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtSql module helps you provide seamless database integration to your Qt
 applications.
 .
 If you wish to use the SQL module for development, you should install the
 libqte4-dev package.

Package: libqte4-svg
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libqte4-gui (<< 4.4.0~beta1-1)
Replaces: libqte4-gui (<< 4.4.0~beta1-1)
Description: Qt 4 SVG module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtSvg module provides classes for displaying the contents of SVG files.
 .
 Scalable Vector Graphics (SVG) is a language for describing two-dimensional
 graphics and graphical applications in XML.

Package: libqte4-webkit
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt 4 WebKit module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 QtWebKit provides a Web browser engine that makes it easy to embed content
 from the World Wide Web into your Qt application.

Package: libqte4-xml
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqte4-core (<< 4.4.0~beta1-1)
Description: Qt 4 XML module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtXml module provides a stream reader and writer for XML documents,
 and C++ implementations of SAX and DOM.

Package: libqte4-dbus
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqte4-core (<< 4.4.0~beta1-1)
Description: Qt 4 D-Bus module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtDBus module is a Unix-only library that you can use to make Inter-Process
 Communication using the D-Bus protocol.
 .
 Applications using the QtDBus module can provide services to other, remote
 applications by exporting objects, as well as use services exported by those
 applications by placing calls and accessing properties.

Package: libqte4-test
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqte4-core (<< 4.4.0~beta1-1)
Description: Qt 4 test module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtTest module provides classes for unit testing Qt applications and
 libraries.

Package: libphonon4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdelibs5 (<= 4:4.0.80)
Description: Qt 4 Phonon module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The Qt Phonon module provides a cross-platform multimedia framework that
 enables the use of audio and video content in Qt applications.

Package: libqte4-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtecore4 (= ${binary:Version}),
 libqte4-network (= ${binary:Version}), libqte4-dbus (= ${binary:Version}),
 libqtegui4 (= ${binary:Version}), libqte4-svg (= ${binary:Version}),
 libqte4-webkit (= ${binary:Version}), libqte4-xml (= ${binary:Version}),
 libqte4-sql (= ${binary:Version}), libqte4-script (= ${binary:Version}),
 libqte4-test (= ${binary:Version}), libphonon4 (= ${binary:Version}),
 qt4-qmake (= ${binary:Version})
Conflicts: qt3-dev-tools (<= 3:3.3.4-7), libqtewebkit-dev
Replaces: libqtewebkit-dev
Suggests: qt4-dev-tools, qt4-doc, libmysqlclient-dev, libsqlite0-dev, libsqlite3-dev, libpq-dev, unixodbc-dev, firebird2.0-dev
Description: Qt 4 development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the header development files and development programs
 used for building Qt 4 applications.

Package: libphonon-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends},
 libphonon4 (= ${binary:Version})
Replaces: kdelibs5-dev (<< 4:4.0.81)
Description: Qt 4 Phonon library development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the development files needed to build Qt 4 applications
 using Qt Phonon library.

Package: libqte4-dbg
Priority: extra
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends},
 libqtecore4 (= ${binary:Version})
Conflicts: libqte4-debug (<< 4.4.0~beta1-1)
Description: Qt 4 library debugging symbols
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the debugging symbols for the Qt 4 libraries.

Package: libqte4-webkit-dbg
Priority: extra
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends},
 libqte4-webkit (= ${binary:Version})
Description: Qt 4 WebKit library debugging symbols
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the debugging symbols for the Qt 4 WebKit library.

Package: phonon-dbg
Priority: extra
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends},
 libphonon4 (= ${binary:Version})
Description: Qt 4 Phonon library debugging symbols
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the debugging symbols for the Qt 4 Phonon library.

Package: phonon
Architecture: all
Depends: ${misc:Depends}, libphonon4 (>= ${source:Version}),
 phonon-backend-xine | phonon-backend
Suggests: phonon-backend-gstreamer, phonon-backend-vlc, phonon-backend-mplayer
Description: Qt 4 Phonon module metapackage
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The Qt Phonon module provides a cross-platform multimedia framework that
 enables the use of audio and video content in Qt applications.
 .
 This metapackage ensures a working Qt 4 Phonon (library and a backend).
