#!/usr/bin/make -f

export QTDIR := $(shell pwd)
export PATH := $(QTDIR)/bin:$(PATH)
export LD_LIBRARY_PATH := $(QTDIR)/lib:$(LD_LIBRARY_PATH)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/dpatch.mk

DEB_MAKE_INVOKE := $(MAKE)
DEB_MAKE_BUILD_TARGET := sub-src sub-tools 
DEB_MAKE_INSTALL_TARGET := INSTALL_ROOT=$(DEB_DESTDIR) install
DEB_DH_INSTALL_SOURCEDIR := debian/tmp
DEB_MAKE_CLEAN_TARGET := distclean
DEB_DH_MAKESHLIBS_ARGS_ALL := -V
DEB_INSTALL_CHANGELOGS_ALL := changes-4.0.1


common-configure-arch::
	./configure -confirm-license \
	            -prefix "/usr" \
	            -docdir "/usr/share/qt4/doc" \
	            -headerdir "/usr/include/qt4" \
	            -datadir "/usr/share/qt4" \
	            -plugindir "/usr/lib/qt4/plugins" \
	            -translationdir "/usr/share/qt4/translations" \
	            -sysconfdir "/etc/qt4" \
	            -platform linux-g++ \
		    -debug-and-release \
	            -fast \
	            -no-rpath \
	            -system-zlib \
	            -system-libpng \
	            -system-libjpeg \
	            -system-nas-sound \
	            -qt-sql-psql \
	            -qt-sql-mysql \
	            -I/usr/include/mysql \
	            -I/usr/include/freetype2 \
	            -I`pg_config --includedir` \
	            -lfontconfig \
	            -cups

clean::
	-$(MAKE) -C plugins/src distclean
	-$(MAKE) -C qmake distclean
	-$(MAKE) -C tools distclean
	-$(MAKE) distclean

	-find . -mindepth 2 -name Makefile -exec rm -f '{}' ';'

# Force these since the build system makes them read-only
	rm -f src/corelib/global/qconfig.cpp src/corelib/global/qconfig.h

# Don't force these, use the '-' thing instead so that failed deletions
# are displayed so that these may be cleaned out as upstream improves
# the clean target.
	-rm .qmake.cache \
	    config.status \
	    bin/qmake \
	    src/corelib/global/qconfig.h.qmake \
	    src/corelib/global/arch \
	    tools/designer/src/plugins/tools/view3d/Makefile.Debug \
	    tools/designer/src/plugins/tools/view3d/Makefile.Release \
	    mkspecs/default \
	    mkspecs/qconfig.pri \
	    config.tests/unix/ptrsize/ptrsizetest.o \
	    config.tests/unix/ptrsize/ptrsizetest \
	    config.tests/unix/ipv6/ipv6test.o \
	    config.tests/unix/ipv6/ipv6test \
	    config.tests/unix/endian/endiantest.o \
	    config.tests/unix/endian/endiantest \
	    config.tests/unix/largefile/largefiletest.o \
	    config.tests/unix/largefile/largefiletest \
	    config.tests/unix/stl/stltest.o \
	    config.tests/unix/stl/stltest \
	    config.tests/unix/getaddrinfo/getaddrinfotest.o \
	    config.tests/unix/getaddrinfo/getaddrinfotest \
	    lib/* \
	    include/Qt/arch \
	    include/QtCore/arch \
	    include/Qt/qconfig.h \
	    include/QtCore/qconfig.h \
	    plugins/designer/*.prl \
	    plugins/designer/lib*.so* \
	    plugins/accessible/lib*.so* \
	    plugins/codecs/lib*.so* \
	    plugins/imageformats/lib*.so* \
	    examples/tools/plugandpaint/plugins/libpnp_basictools_debug.so \
	    examples/tools/plugandpaint/plugins/libpnp_extrafilters_debug.so \
	    demos/shared/libdemo_shared.prl

# Hack to fix dpatch-edit-patch
unpatch: deapply-dpatches


BINDIR := $(DEB_DESTDIR)/usr/bin
common-install-arch::
	# Tack on -qt4 to the binaries that use the alternatives system
	for f in qmake lupdate lrelease uic moc assistant designer linguist qtconfig; do \
	    mv "$(BINDIR)/$$f" "$(BINDIR)/$$f-qt4"; \
	done
